* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;

  min-width: 300px;

  width: 100%;
}


header {

  display: flex;

  background-image: url("cities.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 100px;

  text-align: center;
  font-size: 300%;
  color: white;

  min-width: 300px;

  width: 100%;
}

nav {
  background: #cce8b5;
  padding: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;

  font-size: 140%;
}

img {
  width: 100%;
}

h2 {
  font-size: 120%;
}

h1 {
  font-size: 180%;
}

p {
  font-size: 140%;
}


#London {
  background-color: #ebf38f;
  display: block;
  padding: 50px;

}

#Paris {
  background-color: #00c7fc;
  display: block;
  padding: 50px;
}

#Tokyo {
  background-color: #e392fe;
  display: block;
  padding: 50px;
}

footer {
  background-color: #00a3d7;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
  clear: both
}

a[href="#"] {
  color: red;
}

nav ul li:hover {
  background-color: #ffdad8;
}

/* phone screen */

@media only screen and (max-width: 600px)  {

  section {
    width: 400vw;
  }


  header {
    width: 400vw;
  }

  footer {
    width: 400vw;
  }

  li {
    font-size: 400%;
  }

  h1 {
    font-size: 500%;
  }

  h2{
    font-size: 400%;
  }

  p {
    font-size: 500%;
  }

  img {
    width: 100%;
  }
}

/* tablet screen*/

@media only screen and (min-width: 768px) and (max-width: 996px) {
  section {
    width: 400vw;
    height: auto;
  }

  header {
    width: 400vw;
    height: 100%;
  }

  footer {
    width: 400vw;
  }

  li {
    font-size: 600%;
  }

  h1 {
    font-size: 800%;
  }

  h2{
    font-size: 600%;
  }

  p {
    font-size: 800%;
  }

  img {
    width: 100%;
  }
}


